# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file and bundle for alternative installation
vendor/
.bundle/

# Cardano: do not commit your Blockfrost API key or signing keys
.env
cardano_sk.txt
cardano_*.txt
scripts/*